*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    
}
/* body{
    background-color: #0a192f;
}
body section{
    background-color: #0a192f;
    color: white;
} */

body h2{
    color: teal;
   
    font-weight:bolder;
}

body button:hover{
    background-color: teal;
}


/*nav*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #0a192f;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 10px;
}


.logo{
    font-size: 50px;
    font-weight: bolder;
}

.logo a{
    color: teal;
}

.logo a:hover{
    color: white;
    text-decoration: none;
}

.darkmode{
    color: white;
    font-size: 20px;
    display: none;
}
/* .darkmode:hover{
    cursor: pointer;
    color: black;
}
.darkmode.active body{
    
        background-color: #0a192f;
    }
 */

.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 15px;
    padding-right: 40px;
}

.nav-li {

    list-style: none;

}

.nav-bar .nav-a{
    color: teal;
    font-size: 25px;
    text-decoration: none;

}

.nav-bar .nav-a:hover{
    color: white;
   

}

.menu-wrapper{
    display: flex;

}

.menu-btn{
    display: none;
    cursor: pointer;
    
}
.menu-btn:hover .bar {
    background-color: white;
}

.menu-btn .bar{
    background-color: teal;
    width: 40px;
    height: 5px;
    margin: 5px;
    transition: all 0.3 ease
}


/* home */

.home-container{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.home-text{
    width: 100;
    height: auto;
    padding: 12% 20px;
    text-align: center;
    
    
}
.home-container h1{
    color: teal;
}

/* about */

.about-container p{

    font-size:20px;

}


.about-container img{
    border: 1px solid teal;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* gallery */
#{
    background-color: #0a192f;
}

/* skills */

.my-skills img{
    border: 2px solid teal;
    border-radius: 10px;
    width: 50px;
    height: 50px;

}

.progress{
    border: 2px solid gray;
    width: 200px;
}


.dev-tools img{
    border: 2px solid teal;
    border-radius: 50%;
    width: 100px;
    height:100px;
}

.tool-wrapper h4{
    text-align:center;
}


/* projects */
.featured-projects p{
    color: white;
}

.other-projects p{
    color: white;
}
/* contact */


.contact-container{
    display: flex;
    justify-content: center;
}

 h5{
    justify-self: center;
    color:teal;
}

form{
    margin-top: 20px;
}

form label{
    color: teal;
}

form input{
    background-color: white;
}

form button{
    background-color: #0a192f;
    color: white;
}


.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:300px;
    border: 2px dotted teal;

}


/* footer */

.footer-container{
    display: flex;
    align-items: center;   
    flex-direction: column;
    background-color: #0a192f;
    color: teal;
}


.footer-icons{
    
   
    padding:10px 0;
 
}

.footer-icons ul{
    display: flex;
    justify-content: center;
    gap: 20px;
  
}

.footer-icons li  {
    font-size: 20px;
    list-style-type: none;
    
    
}

.footer-icons li a{
    text-decoration: none;
    color: white;

}
.footer-icons li a:hover{
    
    color: teal;

}

.footer-container span{
    font-size: 20px;
    
}

@media all and (max-width: 576px){}



@media all and (max-width: 768px){


.nav-menu{
    position: absolute;
    display: none;
    width: 400px;
    text-align: center;
    padding: 40px;
    height: 1001vh;
    top:0;
    right: 0;
    background-color: #0a192f;
    transition:.3s ease;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.nav-menu.active{
    display:block;
    
}

body{
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.nav-li{
    margin: 60px;
    border-bottom:1px solid white ;
    
}


.menu-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    
}

.menu-btn.active .bar:nth-child(1){
    transform: translateY(5px) rotate(45deg)   
}
.menu-btn.active .bar:nth-child(2){
    display: none;
}
.menu-btn.active .bar:nth-child(3){
    transform: translateY(-5px) rotate(-45deg)
}


}
@media all and (max-width: 992px){}

@media all and (max-width: 1200px){}